In [12]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('traffic_metrics.csv')
df.head(5)

,timestamp,switch_id,port,tx_bytes,rx_bytes,tx_packets,rx_packets,latency,switch_latency,cpu_usage,mem_usage
0,2025-06-01 08:33:36,3,4294967294,0,0,0,0,312,0.002869,24.7,39.1
1,2025-06-01 08:33:36,3,1,442,396,5,4,312,0.002869,24.7,39.1
2,2025-06-01 08:33:36,3,2,696,396,8,4,312,0.002869,24.7,39.1
3,2025-06-01 08:33:36,3,3,959,266,9,3,312,0.002869,24.7,39.1
4,2025-06-01 08:33:36,3,4294967294,0,0,0,0,274,0.012992,24.7,39.1

In [16]:
len(df)

388148

In [17]:
df_clean = df.copy()
df_clean = df_clean[df_clean['port'] != 4294967294]
df_clean.head(5)

,timestamp,switch_id,port,tx_bytes,rx_bytes,tx_packets,rx_packets,latency,switch_latency,cpu_usage,mem_usage
1,2025-06-01 08:33:36,3,1,442,396,5,4,312,0.002869,24.7,39.1
2,2025-06-01 08:33:36,3,2,696,396,8,4,312,0.002869,24.7,39.1
3,2025-06-01 08:33:36,3,3,959,266,9,3,312,0.002869,24.7,39.1
5,2025-06-01 08:33:36,3,1,442,396,5,4,274,0.012992,24.7,39.1
6,2025-06-01 08:33:36,3,2,696,396,8,4,274,0.012992,24.7,39.1

In [18]:
len(df_clean)

284171

In [19]:
df_clean['switch_latency'] = (df_clean['switch_latency'] * 1000).round(2)
df_clean['latency'] = df_clean['latency'].round(0).astype(int)
df_clean.head(5)

,timestamp,switch_id,port,tx_bytes,rx_bytes,tx_packets,rx_packets,latency,switch_latency,cpu_usage,mem_usage
1,2025-06-01 08:33:36,3,1,442,396,5,4,312,2.87,24.7,39.1
2,2025-06-01 08:33:36,3,2,696,396,8,4,312,2.87,24.7,39.1
3,2025-06-01 08:33:36,3,3,959,266,9,3,312,2.87,24.7,39.1
5,2025-06-01 08:33:36,3,1,442,396,5,4,274,12.99,24.7,39.1
6,2025-06-01 08:33:36,3,2,696,396,8,4,274,12.99,24.7,39.1

In [20]:
#df_clean.drop(columns=['switch_latency_ms'], inplace=True)

In [21]:
df_clean.columns

Index(['timestamp', 'switch_id', 'port', 'tx_bytes', 'rx_bytes', 'tx_packets',
       'rx_packets', 'latency', 'switch_latency', 'cpu_usage', 'mem_usage'],
      dtype='object')

In [22]:
df_clean.to_csv('flow/traffic_metrics_load_balancer.csv', index=False)
#df_clean.to_csv('flow/traffic_metrics_normally.csv', index=False)
#df_clean.to_csv('flow/traffic_metrics_round_robin.csv', index=False)

In [23]:
#corr = df_clean.corr()
#plt.figure(figsize=(10, 8))
#sns.heatmap(corr, annot=True, cmap='coolwarm')
#plt.show()