In [253]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [254]:
df = pd.read_csv('metrics_log.csv')
df.head(5)

,timestamp,switch_id,port,tx_bytes,rx_bytes,tx_packets,rx_packets,latency,switch_latency,cpu_usage,mem_usage
0,2025-05-31 19:35:34,1,4294967294,0,0,0,0,104.995723,0.003650,8.7,72.3
1,2025-05-31 19:35:34,1,1,2050,2050,14,14,104.995723,0.003650,8.7,72.3
2,2025-05-31 19:35:34,1,2,2050,1739,14,12,104.000000,0.003650,8.7,72.3
3,2025-05-31 19:35:34,3,4294967294,0,0,0,0,71.793142,0.002965,8.7,72.3
4,2025-05-31 19:35:34,3,1,2140,556,15,6,71.793142,0.002965,8.7,72.3

In [255]:
len(df)

32844

In [256]:
df_clean = df.copy()
df_clean = df_clean[df_clean['port'] != 4294967294]
df_clean.head(5)

,timestamp,switch_id,port,tx_bytes,rx_bytes,tx_packets,rx_packets,latency,switch_latency,cpu_usage,mem_usage
1,2025-05-31 19:35:34,1,1,2050,2050,14,14,104.995723,0.003650,8.7,72.3
2,2025-05-31 19:35:34,1,2,2050,1739,14,12,104.000000,0.003650,8.7,72.3
4,2025-05-31 19:35:34,3,1,2140,556,15,6,71.793142,0.002965,8.7,72.3
5,2025-05-31 19:35:34,3,2,1705,646,13,7,71.793142,0.002965,8.7,72.3
6,2025-05-31 19:35:34,3,3,1739,2050,12,14,71.000000,0.002965,8.7,72.3

In [257]:
len(df_clean)

23888

In [258]:
df_clean['switch_latency'] = (df_clean['switch_latency'] * 1000).round(2)
df_clean['latency'] = df_clean['latency'].round(0).astype(int)
df_clean.head(5)

,timestamp,switch_id,port,tx_bytes,rx_bytes,tx_packets,rx_packets,latency,switch_latency,cpu_usage,mem_usage
1,2025-05-31 19:35:34,1,1,2050,2050,14,14,105,3.65,8.7,72.3
2,2025-05-31 19:35:34,1,2,2050,1739,14,12,104,3.65,8.7,72.3
4,2025-05-31 19:35:34,3,1,2140,556,15,6,72,2.96,8.7,72.3
5,2025-05-31 19:35:34,3,2,1705,646,13,7,72,2.96,8.7,72.3
6,2025-05-31 19:35:34,3,3,1739,2050,12,14,71,2.96,8.7,72.3

In [259]:
#df_clean.drop(columns=['switch_latency_ms'], inplace=True)

In [260]:
df_clean.columns

Index(['timestamp', 'switch_id', 'port', 'tx_bytes', 'rx_bytes', 'tx_packets',
       'rx_packets', 'latency', 'switch_latency', 'cpu_usage', 'mem_usage'],
      dtype='object')

In [ ]:
#df_clean.to_csv('flow/traffic_metrics_load_balancer.csv', index=False)
#df_clean.to_csv('flow/traffic_metrics_normally.csv', index=False)
df_clean.to_csv('flow/traffic_metrics_round_robin.csv', index=False)

In [262]:
#corr = df_clean.corr()
#plt.figure(figsize=(10, 8))
#sns.heatmap(corr, annot=True, cmap='coolwarm')
#plt.show()